<!DOCTYPE html>
<html>
<head>
  <title>Wildlife Friendly Traveler</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base<% if !@country %> hmp<% end %>">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
		    <div class="mdl-layout__header-row">
		      <!-- Title -->
		      <span class="mdl-layout-title"><% if @country %><%= @country.name %><% else %>Wildlife Friendly Traveler<% end %></span>
		      <div class="mdl-layout-spacer"></div>
		      <!-- Navigation -->
		      <nav class="mdl-navigation">
		        <% if @country %>Wildlife Friendly Traveler<% end %>
		        <a class="mdl-navigation__link" href="/">Home</a>
		        <a class="mdl-navigation__link" href="">About</a>
		        <a class="mdl-navigation__link" href="">Contact</a>
		      </nav>
		    </div>
		    <% if @country %>
			    <!-- Tabs -->
			    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
			      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Top Concerns</a>
			      <% if @food_products %><a href="#scroll-tab-2" class="mdl-layout__tab">Food</a><% end %>
			      <% if @art_decor_products %><a href="#scroll-tab-3" class="mdl-layout__tab">Art & Decor</a><% end %>
			      <% if @clothing_accessories_products %><a href="#scroll-tab-4" class="mdl-layout__tab">Clothing & Accessories</a><% end %>
			      <% if @animals_products %><a href="#scroll-tab-5" class="mdl-layout__tab">Animals</a><% end %>
			      <% if @plants_products %><a href="#scroll-tab-6" class="mdl-layout__tab">Plants</a><% end %>
			    </div>
		    <% end %>
		</header>

		<main class="mdl-layout__content">
			<%= yield %>
		</main>
	
	</div>

</body>
</html>
